body{
     background-image:url("images/bg.jpg");
	 background-repeat:no-repeat;
	 background-size: cover;
}

.cadre{
     float:center;
	 height:600px;
	 width:cover;
	 margin-left:80px;
	 margin-right:80px;
	 margin-top:80px;
	 border: 5px solid red;
	 background-color:rgba(190, 190, 190, 0.5);
	 font-family:verdana;
	 font-size:25px;
	 font-weight:bold;
	 background-position:center center;
	 
}
